{% extends 'base.html' %}

 {% block content %}

  <h1>My To Do List</h1>
  <h2>Create Task</h2>

  <h5>Name: </h5>
  <p>{{user.get_username}}</p>
  <br>

  <form action="/todolist/addTask/" method = "post">{% csrf_token %}
    <table>
      <tr>
        <th><label for="title">Task Title</label><input type="text" name="title" maxlength="100"></th>
        <br>
        <th><label for="description">Task Description</label><input type="text" name="description" maxlength="250"></th>
      </tr>
    </table>
    <input type="submit" value="Add Task">
  </form> 
    
  <br>
  

 {% endblock content %}
