{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
    <div class = "login container-fluid border rounded w-auto h-auto position-absolute top-50 start-50 translate-middle" style="padding: 2%; background-color: #fafafac4;">

        <h1 style="text-align: center;">Login</h1>
        <div class="h-auto d-flex align-items-center justify-content-center">

            <form method="POST" action="">
                {% csrf_token %}
                <table style="margin-top: 10px;">
                    <tr align="center">
                        <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                    </tr>

                    <tr>
                        <td><input style="margin-top: 10px;" type="password" name="password" placeholder="Password" class="form-control"></td>
                    </tr>

                    <tr>

                        <td><input style="margin-top: 10px;" class="btn login_btn btn-primary" type="submit" value="Login"></td>
                    </tr>
                </table>
            </form>
        </div>
        <br>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}     
        <div class="w-auto">
            <span class="d-flex justify-content-center m-2">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a></span>
        </div>    
    </div>
{% endblock content %}