{% extends 'base.html' %}

{% block meta %}
<title>My To Do List</title>
<style>
  .card {
    max-width: 75vh;
    min-height: 30vh;
    height: auto;
    transition: all .2s ease-in-out;
    overflow: hidden;
  }

  .card:hover {
    transform: scale(1.3);
    z-index: 10;
  }

  .row>* {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 95%;
  }

  .card-footer {
    margin-bottom: 0%;
    text-align: right;
  }

</style>
{% endblock meta %}

{% block content %}
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top max-width">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h3" href="{% url 'todolist:show_todolist' %}">{{user.get_username}}'s To Do List</a>
        <a class="btn btn-danger" type="button" href="{% url 'todolist:logout' %}">Logout</a>
    </div>
  </nav>
  <br>
  <br>
  <main role="main" class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for task in data_todolist %}
      <div class="row">
        <div class="card m-4 mx-auto">
          <h5 class="card-header text-center">{{ task.title }}</h5>
          <div class="card-body">
            <p class="card-text">{{ task.description }}</p>
          </div>
          <p class="card-footer text-muted">Created: {{ task.date }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  <br>
  <div class="d-flex justify-content-center align-content-center w-20 mb-2 sticky-bottom">
    <a type="button" class="btn btn-primary mb-2" href="{% url 'todolist:create-task' %}">Create Task</a>
  </div>

{% endblock content %}
