{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>My To Do List</title>
<link rel="stylesheet" href="{% static 'css/todolist.css' %}">
<style>
  .card {
    max-width: 75vh;
    min-height: 30vh;
    height: auto;
    transition: all .2s ease-in-out;
    overflow: hidden;
  }

  .card:hover {
    transform: scale(1.3);
    z-index: 10;
  }

  .row>* {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    max-width: 95%;
  }

  .card-footer {
    margin-bottom: 0;
    text-align: left;

  }

  li {
    margin-left: 0.4vmax;
    margin-right: 0.4vmax;
  }

  #greeting {
    font-weight: bold;
    margin-bottom: 3vmax;
    text-transform: lowercase;
  }

  #add-btn {
    margin-bottom: 1vmax;
  }

  #delete-btn {
    width: 90%;
  }
</style>
{% endblock meta %}

{% block content %}
<script type="text/javascript">
  function clearForm() {
    document.getElementById("add-task").reset();
  }


  $.ajax({
    url: "{% url 'todolist:json' %}",
    dataType: 'json',
    success: function (data) { // jika request berhasil
      $("#cardTable").empty();
      for (var i = 0; i < data.length; i++) {
        var row = `<div class="row"><div class="card m-4 mx-auto">
                      <h5 class="card-header text-center"> ${data[i].fields.title}</h5>
                        <div class="card-body">
                          <p class="card-text">${data[i].fields.description}</p>
                        </div>
                        <div class="card-footer container">
                          <div id="footer-row" class="row justify-content-sm-between">
                            <div class="col-4 align-self-center">
                              <p class="text-muted">Created: ${data[i].fields.date}</p>
                            </div>
                            <div class="col-4 align-self-center push">
                              <a id="delete-btn" class="btn btn-danger justify-content-end btn-sm" type="button" href='delete/${data[i].pk}'>Delete Task</a>
                            </div>
                          </div>
                        </div>
                     </div>`;
        $('#cardTable').append(row);
      }
    },
    error: function (jqXHR, textStatus, errorThrown) { // jika request gagal tampilkan error message
      alert('Error: ' + textStatus + ' - ' + errorThrown);
    }
  });


  $(document).on('submit', '#add-task', function (e) { // dapatkan trigger melalui id dari button
    $.ajax({
      type: 'POST',
      url: "{% url 'todolist:add_task' %}", //url untuk ke views tambahkan data
      data: { // dapatkan data sesuai id dari input yang ada di form
        title: $('#title').val(),
        description: $('#Description').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        action: 'post'
      },
      success: function (json) {
        document.getElementById("add-task").reset();
        refresh();
      },
      error: function (xhr, errmsg, err) { // tampilkan error message jika gagal
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
  });


  $(document).ready(function () {
    refresh();
  })
</script>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top max-width">
  <div class="container-fluid">
    <a id="test" class="navbar-brand mb-0 h3" href="{% url 'todolist:show_todolist' %}">To Do List</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="btn btn-danger" type="button" href="{% url 'todolist:logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<main role="main" class="container">
  <h1 id="greeting">Hello, {{user.get_username}}</h1>
  <div id="cardTable" class="row row-cols-1 row-cols-md-2 g-4">

  </div>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            onclick="clearForm();"></button>
        </div>
        <div class="modal-body">
          <form method="POST" id="add-task">
            {% csrf_token %}
            <div class="form-group">
              <label>Task Title</label>
              <input type="text" class="form-control" id="title" placeholder="Task Title">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" id="Description" placeholder="Description"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="clearForm();">Cancel</button>
          <button id="submit-btn" type="submit" class="btn btn-primary">Add Task</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-content-center w-20 mb-2 sticky-bottom">
    <button id="add-btn" type="button" class="btn btn-primary" data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">Create Task</button>
  </div>

</main>
<footer>
  <br>
</footer>


{% endblock content %}